html{
  scroll-behavior: smooth;
}

.minHeight{
  min-height: calc(100vh - 200px);
}

.swiper-button-prev {
  color: #f3c531; 
  transition: 0.3s;
}

.swiper-button-prev:hover{
  color: #f3c531;
}

.swiper-button-next {
  color: #f3c531;
  transition: 0.3s;
}

.swiper-button-next:hover{
  color: #f3c531;
}

.active{
  color: #f3c531;
}