@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.backgound-effect {
  background: rgba(191, 129, 72, 0.5);
  filter: blur(50px);
}

.circle-element {
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 10px 0px rgba(191, 129, 72, 0.5) inset;
  backdrop-filter: blur(10px);
}

.swiper-pagination-bullet-active {
  background-color: #E09955 !important;
}

.swiper-pagination-bullet{
  background-color: #E09955 !important;
}